.portfolio__skills{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 3rem; */
    margin-top: 2rem;
}
.portfolio__skillsAndEdu-heading p{
    font-size: 1.6rem;
    color: rgb(79, 79, 176);
    font-family: sans-serif;
    margin-bottom: 2rem;
}
.portfolio__skillsAndEdu-student{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #111;
    margin-bottom: 1rem;
}
.portfolio__skillsAndEdu-skills{
    list-style-type: disc;
    list-style-position: inside;
    line-height: 1.6rem;
    font-family: sans-serif;
    color: rgba(0, 0, 0, .9);
    margin-bottom: 1.3rem;
}
.portfolio__skills-rate{
    width: 50%;
}
.portfolio__skills-rate-skillFull{
    background-color: #ccc;  
    border-radius: 50px;
}
.portfolio__skills-rate-skillRate{
    background-color: brown;
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
    border-radius: 0 50px 50px 50px;
}
.discover{
    background: linear-gradient(to right, black, brown);
    padding: .5rem 1rem;
    border-radius: 50px;
    color: rgba(141, 138, 138, 0.9);
}
@media screen and (max-width: 900px) {
    .portfolio__skills{
        padding: 2rem;
        flex-direction: column;
    }
    .portfolio__skillsAndEdu{
        margin-bottom: 4rem;
    }
    .portfolio__skills-rate{
        width: 90%;
    }
}